<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605618318657-ess5otr8vdjthq50ldg86gllal6hf9mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605618318657-ess5otr8vdjthq50ldg86gllal6hf9mr</string>
	<key>API_KEY</key>
	<string>AIzaSyDYLZVRRomjreWeJ8U0VpWrica3cSEdSo4</string>
	<key>GCM_SENDER_ID</key>
	<string>605618318657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>konkuk.jhpark.Connected</string>
	<key>PROJECT_ID</key>
	<string>connected-prod-6cc61</string>
	<key>STORAGE_BUCKET</key>
	<string>connected-prod-6cc61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605618318657:ios:9478c444da3690c4f785c0</string>
</dict>
</plist>