<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>갤러리에서 사진을 선택할 수 있도록 허용 해주세요</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location when in usage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location always usage</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location always and when in usage</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
